@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
    background: url(../img/images1.jpg) no-repeat center center fixed;
    background-size: cover;
}

.main-section{
    margin: 0 auto;
    padding: 0px;

}

.modal-content{
    background-color: #3b4652 !important;
    opacity: .85;
    padding: 0 18px;
    box-shadow: 0px 0px 4px #848484;
}

.user-img{
    margin-top: 35px;
    margin-bottom: 15px;
}

.user-img img {
    height: 155px;
    width: 155px;
    box-shadow: 0px 0px 4px #848484;
    border-radius: 10%;
}

h4 {
    color: #fff;
}

p {
    text-align: justify;
    color: #fff;
    margin: 0 30px;
}

.icons input{
    text-align: center;
    height: 42px;
    border-radius: 5px;
    border: 0;
    font-size: 18px;
    padding-left: 40px;
    
}

.icons input:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}

.icons {
    position: relative;
    margin-bottom: 18px;
}

.icons i {
    font-size: 22px;
    position: absolute;
    left: 8px;
    top: 12px;
    padding: 9px, 8px;
    color: #aaa;
    transition: .3s;

}

.icons input:focus + i{
    color: dodgerblue;
}

.contrasena {
    margin-left: auto;
    margin-right: auto;
}


button {
    width: 60%;
    margin: 10px 0 5px 0 !important;
}

.forgot {
    padding: 20px 0;
}

.forgot a {
    color: white;
}

.forgot a:hover {
    color: white;
}

footer a:hover {
    color: #fff;
}

@media (min-width: 1367px) {
    .title h1 {
        font-size: 3em;
        font-weight: bold;
        margin-top: 43px;
        margin-bottom: 40px;
    }

    .row2 {
        margin-top: -10px;
    }

    footer {
        height: 80px;
        background-color: #3b4652;
        color: #fff;
        margin-top: 70px;
        padding: 25px;
    }

    footer p {
        font-size: 18px;
    }
    
    footer a {
        font-size: 18px;
        color: #fff;
    }
        
}

@media (max-width: 1366px) and (min-width: 1200px) {
    .title h1 {
        font-size: 3em;
        font-weight: bold;
        margin-top: 40px;
        margin-bottom: 30px;
    }

    .row2 {
        margin-top: -10px;
    }

    footer {
        height: 80px;
        background-color: #3b4652;
        color: #fff;
        margin-top: 60px;
        padding: 25px;
    }

    footer p {
        font-size: 18px;
    }
    
    footer a {
        font-size: 18px;
        color: #fff;
    }
        
}

@media (max-width: 1199px) and (min-width: 992px) {
    .title h1 {
        font-size: 2,5em;
        font-weight: bold;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .row2 {
        margin-top: -10px;
    }

    footer {
        height: 80px;
        background-color: #3b4652;
        color: #fff;
        margin-top: 58px;
        padding: 25px;
    }

    footer p {
        font-size: 18px;
    }
    
    footer a {
        font-size: 18px;
        color: #fff;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .title h1 {
        font-size: 2,5em;
        font-weight: bold;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .row2 {
        margin-top: -10px;
    }

    footer {
        height: 80px;
        background-color: #3b4652;
        color: #fff;
        margin-top: 44px;
        padding: 25px;
    }

    footer p {
        font-size: 18px;
    }
    
    footer a {
        font-size: 18px;
        color: #fff;
    }
}

@media (max-width: 767px) and (min-width: 576px) {
    .title h1 {
        font-size: 2,3em;
        font-weight: bold;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .icons#name-group {
        margin-top: 25px;
    }

    .row2 {
        margin-top: -18px;
    }

    footer {
        height: 80px;
        background-color: #3b4652;
        color: #fff;
        margin-top: 44px;
        padding: 25px;
    }

    footer p {
        font-size: 18px;
    }
    
    footer a {
        font-size: 18px;
        color: #fff;
    }
}

@media (max-width: 575px) {
    .title h1 {
        font-size: 2,3em;
        font-weight: bold;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .icons#name-group {
        margin-top: 25px;
    }

    .row2 {
        margin-top: -18px;
    }

    footer {
        height: 80px;
        background-color: #3b4652;
        color: #fff;
        margin-top: 44px;
        padding: 30px 20px;
    }

    footer p {
        font-size: 15px;
    }
    
    footer a {
        font-size: 15px;
        color: #fff;
    }
}